:root {
    --background-color: #e5eeff;
    --accent-color: #64b2ff;
    --border-accent-color: #268eff;
    --hover-accent-color: #92c6ff;
    --hover-secondary-accent-color: #8aceff;
}

p, h1, h2, input, button {
    font-family: 'Arial';
    color: black;
}

p {
    font-size: 20px;
}

p.secondary {
    color: #868686;
}

button, input {
    background-color: var(--accent-color);
    border: 0px solid var(--border-accent-color);
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;
}

button:hover, input:hover {
    background-color: var(--hover-accent-color);
}

body {
    background-color: var(--background-color);
}

#main-container {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-container {

}

.list-item-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 16px;
    border: 4px solid var(--accent-color);
    border-radius: 10px;
    padding: 0 16px;
    margin: 8px 0;
}

.list-item-horizontal:hover {
    background-color:var(--hover-accent-color);
}

.list-item-horizontal > p:last-child {
    font-weight: bold;
    margin-left: auto;
}

.similarity-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    border-radius: 10px;
    row-gap: 8px;
}

.similarity-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    column-gap: 8px;
}

.similarity-container > .similarity-item + .similarity-item {
    padding-top: 16px;
    border-top: 2px solid var(--hover-secondary-accent-color);
}

.similarity-item > p {
    margin: 0;
}

.similarity-item > p:nth-child(3) {
    margin-left: auto;
}

.similarity-item > p:last-child {
    font-weight: bold;
}